﻿<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="app-title" class="navbar-brand" href="#/">Sample App for One Church Interview</a>
        </div>        
    </div>
</div>