﻿<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Invoice list</h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input id="search" type="search" class="form-control" placeholder="Search..." data-ng-model="search">
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-xs-1">No.</th>
                        <th class="col-xs-1">Invoice No.</th>
                        <th class="col-xs-7">Quote No.</th>
                        <th class="col-xs-1">Type</th>
                        <th class="col-xs-1">Not To Exceed</th>
                        <th class="col-xs-1">Binding</th>
                        <th class="col-xs-1">Estimated Service Date</th>
                        <th class="col-xs-1">Estimated Arrival Time</th>
                    </tr>
                </thead>
                <tr data-ng-repeat="invoice in IC.invoices| filter: search" class="repeat-animation">
                    <td>{{$index + 1}}. </td>
                    <td><span>{{invoice.invoiceno}}</span></td>
                    <td><span>{{invoice.quoteno}}</span></td>
                    <td><span>{{invoice.type}}</span></td>
                    <td><span>{{invoice.nottoexceed}}</span></td>
                    <td><span>{{invoice.binding}}</span></td>
                    <td><span>{{invoice.estimatedsrvdate}}</span></td>
                    <td><span>{{invoice.estimatedarrtime}}</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <button id="delete-btn" class="btn btn-danger" data-ng-click="TLC.deleteCompleted()">
            Delete completed <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button id="add-btn" data-ui-sref="root.invoice.new" class="btn btn-success">
            Add Invoice <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
